@import "variables";
@import "utils";

.v-application {
  .v-application--wrap {
    min-height: 0 !important;
  }
}

.theme--light.v-application {
  background-color: $backgroundColor;
}

*::selection {
  background-color: $primaryColor;
  color: $blackColor;
}

img {
  user-select: none;
  -webkit-user-drag: none;
}

html,
body {
  margin: 0;
  padding: 0;
  background: $backgroundColor;
}

body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

body::-webkit-scrollbar-thumb {
  background: transparent;
}

* {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}

*:focus {
  outline: none !important;
  border: 0;
  box-shadow: 0 0 0 0 transparent;
}

ul {
  margin: 0 !important;
  padding: 0 !important;
}

.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  width: 100%;
  padding: 0 6px !important;
}

.flex-align-center {
  display: flex !important;
  align-items: center !important;
}

.flex-align-end {
  display: flex !important;
  align-items: flex-end !important;
}

.flex-justify-between {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}

.flex-justify-around {
  display: flex !important;
  justify-content: space-around !important;
  align-items: center !important;
}

.flex-justify-end {
  display: flex !important;
  justify-content: flex-end !important;
  align-items: center !important;
}

.flex-justify-start {
  display: flex !important;
  justify-content: flex-start !important;
  align-items: center !important;
}

.flex-justify-center {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.flex-justify-evenly {
  display: flex !important;
  justify-content: space-evenly !important;
  align-items: center !important;
}

.flex-column-center {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
}

.flex-column-around {
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-around !important;
  align-items: center !important;
}

.flex-column-start {
  display: flex !important;
  flex-direction: column !important;
  justify-content: flex-start !important;
  align-items: center !important;
}

.flex-column-start-align-start {
  display: flex !important;
  flex-direction: column !important;
  justify-content: flex-start !important;
  align-items: flex-start !important;
}

.flex-column-end {
  display: flex !important;
  flex-direction: column !important;
  justify-content: flex-end !important;
}

.flex-column-between {
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
  align-items: center !important;
}

.text-primary {
  color: $primaryColor;
}

::-webkit-scrollbar-track {
  background-color: $blackColor;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background: $primaryColor;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: $primaryColor;
}