$primaryColor: #FFE419;
$secondaryColor: #32383D;
$placeholderColor: rgba(255, 228, 25, 0.66);

$blackColor: #121212;
$redColor: #ff0000;
$yellowColor: #ffff00;
$grayColor: gray;

$sucessColor: #3fab30;
$dangerColor: #ff5370;

$textColor: #FFF;
$backgroundColor: #202529;
$blackgroundOpacity: rgba(12, 12, 12, 0);
$whitegroundOpacity: rgba(255, 255, 255, 0.5);
$rowColor: #383838;
$activeRowColor: #484747;

