$primaryColor: #FFE419;
$secondaryColor: #32383D;

$blackColor: #121212;
$redColor: #ff0000;
$yellowColor: #ffff00;
$grayColor: gray;

$sucessColor: #3fab30;
$dangerColor: #ff5370;

$textColor: #FFF;
$backgroundColor: #202529;
$rowColor: #383838;
$activeRowColor: #484747;
